<div>
    <% if (isLoggedIn) { %>
        <a href="/user">My User Page</a>   |   <a href="/logout">Log Out</a>
    <% } else { %>
        <a href="/sign-up">Register</a>   |   <a href="/log-in">Log In</a>
    <% } %>
</div>